In [17]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [18]:
file_aqi = "aqi_data/aqidaily2018.csv"
aqi_data_df = pd.read_csv(file_aqi)
aqi_data_df.head()

,Date,Overall AQI Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,SO2,PM10,PM25,NO2
0,01/01/2018,87,PM2.5,Oakland West,06-001-0011,AQS,15,34,3,.,87,41
1,01/02/2018,95,PM2.5,Oakland West,06-001-0011,AQS,22,38,4,38,95,45
2,01/03/2018,142,PM2.5,Concord,06-013-0002,AQS,17,36,4,.,142,46
3,01/04/2018,145,PM2.5,Concord,06-013-0002,AQS,16,26,4,.,145,34
4,01/05/2018,58,PM2.5,Concord,06-013-0002,AQS,10,29,4,.,58,32

In [19]:
aqi_data_df = aqi_data_df.iloc[: , 0:4]

In [20]:
aqi_data_df.columns = ["date", "overall_aqi", "main", "site_name"]

In [21]:
aqi_data_df = aqi_data_df[["date", "overall_aqi", "site_name"]]

In [22]:
aqi_data_df.head()

         date  overall_aqi     site_name
0  01/01/2018           87  Oakland West
1  01/02/2018           95  Oakland West
2  01/03/2018          142       Concord
3  01/04/2018          145       Concord
4  01/05/2018           58       Concord

In [23]:
aqi_data_df['year']=2018

In [24]:
aqi_data_df.head()

         date  overall_aqi     site_name  year
0  01/01/2018           87  Oakland West  2018
1  01/02/2018           95  Oakland West  2018
2  01/03/2018          142       Concord  2018
3  01/04/2018          145       Concord  2018
4  01/05/2018           58       Concord  2018

### Create database connection

In [25]:
rds_connection_string = "root:12345678@127.0.0.1/fires"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [27]:
# Confirm tables
engine.table_names()

['aqi_data']

### Load DataFrames into database

In [28]:
aqi_data_df.to_sql(name="aqi_data", con=engine, if_exists="append")